/*** Created by finalstar on 1/19/2021. */
@charset "utf-8";

/*--------------------------------------------- reset ----------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
body{ line-height: 1; }

*{ box-sizing: border-box; }

:root{
    --redBg: #ff0000;
    --blackBg: #333333;
    --yellowBg: #deb887;
    --purpleBg: #8d008c;
    --blueBg: #33b5e6;
    --grayBg: #dcdcdc;
    --whiteColor: #ffffff;
    --yellowColor: #deb887;
}

.container{ line-height: 20px; padding: 5px; font-size: 14px; background: var(--grayBg); }
h1{ line-height: 30px; margin-bottom: 10px; font-weight: bolder; font-size: 27px; }

.flexBox{ display: flex; flex-wrap: wrap; }
.flexBox.alignCenter{ align-items: center; }

header{ background: var(--blackBg); display: block; }
#navToggleSlideBtn{ display: none; }
nav{ display: flex; align-items: center; }
nav a{ line-height: 24px; margin-right: 20px; font-size: 15px; color: var(--whiteColor); display: block; text-decoration: none; text-align: center; }
nav a:hover{ color: var(--yellowColor) }

.bluBox{ background: var(--blueBg); text-align: center; }
.purpleBox{ background: var(--purpleBg); text-align: center; }

footer{ background: var(--yellowBg); text-align: center; }


.mt-30{ margin-top: 30px; }
.mt-15{ margin-top: 15px; }
.p-30{ padding: 0 30px; }

.pt-15{ padding-top: 15px; }
.pb-15{ padding-bottom: 15px; }
.pl-15{ padding-left: 15px; }
.pr-15{ padding-right: 15px; }

.pt-30{ padding-top: 30px; }
.pb-30{ padding-bottom: 30px; }
.pl-30{ padding-left: 30px; }
.pr-30{ padding-right: 30px; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 800px){
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media only screen and (min-width: 600px){
    nav{ display: flex !important; }
}
@media only screen and (max-width: 600px){
    #navToggleSlideBtn{ width: 35px; margin: auto; display: block; cursor: pointer; }
    #navToggleSlideBtn section{ width: 100%; height: 3px; background: var(--redBg); }
    #navToggleSlideBtn::before{ content: ""; width: 100%; height: 3px; margin-bottom: 4px; background: var(--redBg); display: block; }
    #navToggleSlideBtn::after{ content: ""; width: 100%; height: 3px; margin-top: 4px; background: var(--redBg); display: block; }

    nav{ margin-top: 10px; display: none; }
    nav a{ margin: 10px 0 0 0; }
    nav a:first-child{ margin-top: 0; }

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}